{
  "name": "Vineyard-Rocktheme",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [
      "Styles"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "Styles/bootstrap.less",
      "imports": [
        "Styles/_variables.less",
        "Styles/_variable-overrides.less"
      ]
    },
    {
      "path": "Styles/theme.less",
      "imports": [
        "Styles/_fontsinclude.less",
        "Styles/_variables.less",
        "Styles/_variable-overrides.less",
        "Styles/tidbits.less",
        "Styles/_print.less",
        "Styles/_css-overrides.less"
      ]
    },
    {
      "path": "bootstrap/less/bootstrap.less",
      "imports": [
        "bootstrap/less/variables.less",
        "bootstrap/less/mixins.less",
        "bootstrap/less/normalize.less",
        "bootstrap/less/print.less",
        "bootstrap/less/glyphicons.less",
        "bootstrap/less/scaffolding.less",
        "bootstrap/less/type.less",
        "bootstrap/less/code.less",
        "bootstrap/less/grid.less",
        "bootstrap/less/tables.less",
        "bootstrap/less/forms.less",
        "bootstrap/less/buttons.less",
        "bootstrap/less/component-animations.less",
        "bootstrap/less/dropdowns.less",
        "bootstrap/less/button-groups.less",
        "bootstrap/less/input-groups.less",
        "bootstrap/less/navs.less",
        "bootstrap/less/navbar.less",
        "bootstrap/less/breadcrumbs.less",
        "bootstrap/less/pagination.less",
        "bootstrap/less/pager.less",
        "bootstrap/less/labels.less",
        "bootstrap/less/badges.less",
        "bootstrap/less/jumbotron.less",
        "bootstrap/less/thumbnails.less",
        "bootstrap/less/alerts.less",
        "bootstrap/less/progress-bars.less",
        "bootstrap/less/media.less",
        "bootstrap/less/list-group.less",
        "bootstrap/less/panels.less",
        "bootstrap/less/responsive-embed.less",
        "bootstrap/less/wells.less",
        "bootstrap/less/close.less",
        "bootstrap/less/modals.less",
        "bootstrap/less/tooltip.less",
        "bootstrap/less/popovers.less",
        "bootstrap/less/carousel.less",
        "bootstrap/less/utilities.less",
        "bootstrap/less/responsive-utilities.less",
        "bootstrap/less/mixins/hide-text.less",
        "bootstrap/less/mixins/opacity.less",
        "bootstrap/less/mixins/image.less",
        "bootstrap/less/mixins/labels.less",
        "bootstrap/less/mixins/reset-filter.less",
        "bootstrap/less/mixins/resize.less",
        "bootstrap/less/mixins/responsive-visibility.less",
        "bootstrap/less/mixins/size.less",
        "bootstrap/less/mixins/tab-focus.less",
        "bootstrap/less/mixins/reset-text.less",
        "bootstrap/less/mixins/text-emphasis.less",
        "bootstrap/less/mixins/text-overflow.less",
        "bootstrap/less/mixins/vendor-prefixes.less",
        "bootstrap/less/mixins/alerts.less",
        "bootstrap/less/mixins/buttons.less",
        "bootstrap/less/mixins/panels.less",
        "bootstrap/less/mixins/pagination.less",
        "bootstrap/less/mixins/list-group.less",
        "bootstrap/less/mixins/nav-divider.less",
        "bootstrap/less/mixins/forms.less",
        "bootstrap/less/mixins/progress-bar.less",
        "bootstrap/less/mixins/table-row.less",
        "bootstrap/less/mixins/background-variant.less",
        "bootstrap/less/mixins/border-radius.less",
        "bootstrap/less/mixins/gradients.less",
        "bootstrap/less/mixins/clearfix.less",
        "bootstrap/less/mixins/center-block.less",
        "bootstrap/less/mixins/nav-vertical-align.less",
        "bootstrap/less/mixins/grid-framework.less",
        "bootstrap/less/mixins/grid.less"
      ]
    },
    {
      "path": "bootstrap/less/mixins.less",
      "imports": [
        "bootstrap/less/mixins/hide-text.less",
        "bootstrap/less/mixins/opacity.less",
        "bootstrap/less/mixins/image.less",
        "bootstrap/less/mixins/labels.less",
        "bootstrap/less/mixins/reset-filter.less",
        "bootstrap/less/mixins/resize.less",
        "bootstrap/less/mixins/responsive-visibility.less",
        "bootstrap/less/mixins/size.less",
        "bootstrap/less/mixins/tab-focus.less",
        "bootstrap/less/mixins/reset-text.less",
        "bootstrap/less/mixins/text-emphasis.less",
        "bootstrap/less/mixins/text-overflow.less",
        "bootstrap/less/mixins/vendor-prefixes.less",
        "bootstrap/less/mixins/alerts.less",
        "bootstrap/less/mixins/buttons.less",
        "bootstrap/less/mixins/panels.less",
        "bootstrap/less/mixins/pagination.less",
        "bootstrap/less/mixins/list-group.less",
        "bootstrap/less/mixins/nav-divider.less",
        "bootstrap/less/mixins/forms.less",
        "bootstrap/less/mixins/progress-bar.less",
        "bootstrap/less/mixins/table-row.less",
        "bootstrap/less/mixins/background-variant.less",
        "bootstrap/less/mixins/border-radius.less",
        "bootstrap/less/mixins/gradients.less",
        "bootstrap/less/mixins/clearfix.less",
        "bootstrap/less/mixins/center-block.less",
        "bootstrap/less/mixins/nav-vertical-align.less",
        "bootstrap/less/mixins/grid-framework.less",
        "bootstrap/less/mixins/grid.less"
      ]
    },
    {
      "path": "bootstrap/less/theme.less",
      "imports": [
        "bootstrap/less/variables.less",
        "bootstrap/less/mixins.less",
        "bootstrap/less/mixins/hide-text.less",
        "bootstrap/less/mixins/opacity.less",
        "bootstrap/less/mixins/image.less",
        "bootstrap/less/mixins/labels.less",
        "bootstrap/less/mixins/reset-filter.less",
        "bootstrap/less/mixins/resize.less",
        "bootstrap/less/mixins/responsive-visibility.less",
        "bootstrap/less/mixins/size.less",
        "bootstrap/less/mixins/tab-focus.less",
        "bootstrap/less/mixins/reset-text.less",
        "bootstrap/less/mixins/text-emphasis.less",
        "bootstrap/less/mixins/text-overflow.less",
        "bootstrap/less/mixins/vendor-prefixes.less",
        "bootstrap/less/mixins/alerts.less",
        "bootstrap/less/mixins/buttons.less",
        "bootstrap/less/mixins/panels.less",
        "bootstrap/less/mixins/pagination.less",
        "bootstrap/less/mixins/list-group.less",
        "bootstrap/less/mixins/nav-divider.less",
        "bootstrap/less/mixins/forms.less",
        "bootstrap/less/mixins/progress-bar.less",
        "bootstrap/less/mixins/table-row.less",
        "bootstrap/less/mixins/background-variant.less",
        "bootstrap/less/mixins/border-radius.less",
        "bootstrap/less/mixins/gradients.less",
        "bootstrap/less/mixins/clearfix.less",
        "bootstrap/less/mixins/center-block.less",
        "bootstrap/less/mixins/nav-vertical-align.less",
        "bootstrap/less/mixins/grid-framework.less",
        "bootstrap/less/mixins/grid.less"
      ]
    },
    {
      "path": "Font-Awesome/less/font-awesome.less",
      "imports": [
        "Font-Awesome/less/variables.less",
        "Font-Awesome/less/mixins.less",
        "Font-Awesome/less/path.less",
        "Font-Awesome/less/core.less",
        "Font-Awesome/less/larger.less",
        "Font-Awesome/less/fixed-width.less",
        "Font-Awesome/less/list.less",
        "Font-Awesome/less/bordered-pulled.less",
        "Font-Awesome/less/animated.less",
        "Font-Awesome/less/rotated-flipped.less",
        "Font-Awesome/less/stacked.less",
        "Font-Awesome/less/icons.less",
        "Font-Awesome/less/screen-reader.less"
      ]
    },
    {
      "path": "Font-Awesome/scss/font-awesome.scss",
      "imports": [
        "Font-Awesome/scss/_variables.scss",
        "Font-Awesome/scss/_mixins.scss",
        "Font-Awesome/scss/_path.scss",
        "Font-Awesome/scss/_core.scss",
        "Font-Awesome/scss/_larger.scss",
        "Font-Awesome/scss/_fixed-width.scss",
        "Font-Awesome/scss/_list.scss",
        "Font-Awesome/scss/_bordered-pulled.scss",
        "Font-Awesome/scss/_animated.scss",
        "Font-Awesome/scss/_rotated-flipped.scss",
        "Font-Awesome/scss/_stacked.scss",
        "Font-Awesome/scss/_icons.scss",
        "Font-Awesome/scss/_screen-reader.scss"
      ]
    },
    {
      "path": "rockwww/Styles/_checkin-core.less",
      "imports": [
        "rockwww/Styles/_global-variables.less",
        "rockwww/Styles/_rock-variables.less"
      ]
    },
    {
      "path": "rockwww/Styles/_rock-core.less",
      "imports": [
        "rockwww/Styles/FontAwesome/mixins.less",
        "rockwww/Styles/FontAwesome/variables.less",
        "rockwww/Styles/JCrop/jcrop.less",
        "rockwww/Styles/_page-admin.less",
        "rockwww/Styles/_modal.less",
        "rockwww/Styles/_forms.less",
        "rockwww/Styles/_dashboard.less",
        "rockwww/Styles/_grid.less",
        "rockwww/Styles/_blocks-cms.less",
        "rockwww/Styles/_blocks-security.less",
        "rockwww/Styles/_blocks-reporting.less",
        "rockwww/Styles/_blocks-core.less",
        "rockwww/Styles/_blocks-groups.less",
        "rockwww/Styles/_blocks-finance.less",
        "rockwww/Styles/_blocks-crm.less",
        "rockwww/Styles/_blocks-communication.less",
        "rockwww/Styles/_blocks-checkinadmin.less",
        "rockwww/Styles/_blocks-workflow.less",
        "rockwww/Styles/_blocks-prayer.less",
        "rockwww/Styles/_blocks-events.less",
        "rockwww/Styles/_components.less",
        "rockwww/Styles/_page-specific.less",
        "rockwww/Styles/_scroll.less",
        "rockwww/Styles/_global-variables.less",
        "rockwww/Styles/_helpers.less",
        "rockwww/Styles/Bootstrap/mixins.less",
        "rockwww/Styles/Bootstrap/mixins/hide-text.less",
        "rockwww/Styles/Bootstrap/mixins/opacity.less",
        "rockwww/Styles/Bootstrap/mixins/image.less",
        "rockwww/Styles/Bootstrap/mixins/labels.less",
        "rockwww/Styles/Bootstrap/mixins/reset-filter.less",
        "rockwww/Styles/Bootstrap/mixins/resize.less",
        "rockwww/Styles/Bootstrap/mixins/responsive-visibility.less",
        "rockwww/Styles/Bootstrap/mixins/size.less",
        "rockwww/Styles/Bootstrap/mixins/tab-focus.less",
        "rockwww/Styles/Bootstrap/mixins/reset-text.less",
        "rockwww/Styles/Bootstrap/mixins/text-emphasis.less",
        "rockwww/Styles/Bootstrap/mixins/text-overflow.less",
        "rockwww/Styles/Bootstrap/mixins/vendor-prefixes.less",
        "rockwww/Styles/Bootstrap/mixins/alerts.less",
        "rockwww/Styles/Bootstrap/mixins/buttons.less",
        "rockwww/Styles/Bootstrap/mixins/panels.less",
        "rockwww/Styles/Bootstrap/mixins/pagination.less",
        "rockwww/Styles/Bootstrap/mixins/list-group.less",
        "rockwww/Styles/Bootstrap/mixins/nav-divider.less",
        "rockwww/Styles/Bootstrap/mixins/forms.less",
        "rockwww/Styles/Bootstrap/mixins/progress-bar.less",
        "rockwww/Styles/Bootstrap/mixins/table-row.less",
        "rockwww/Styles/Bootstrap/mixins/background-variant.less",
        "rockwww/Styles/Bootstrap/mixins/border-radius.less",
        "rockwww/Styles/Bootstrap/mixins/gradients.less",
        "rockwww/Styles/Bootstrap/mixins/clearfix.less",
        "rockwww/Styles/Bootstrap/mixins/center-block.less",
        "rockwww/Styles/Bootstrap/mixins/nav-vertical-align.less",
        "rockwww/Styles/Bootstrap/mixins/grid-framework.less",
        "rockwww/Styles/Bootstrap/mixins/grid.less"
      ]
    },
    {
      "path": "rockwww/Styles/Bootstrap/bootstrap.less",
      "imports": [
        "rockwww/Styles/Bootstrap/variables.less",
        "rockwww/Styles/Bootstrap/mixins.less",
        "rockwww/Styles/Bootstrap/normalize.less",
        "rockwww/Styles/Bootstrap/print.less",
        "rockwww/Styles/Bootstrap/glyphicons.less",
        "rockwww/Styles/Bootstrap/scaffolding.less",
        "rockwww/Styles/Bootstrap/type.less",
        "rockwww/Styles/Bootstrap/code.less",
        "rockwww/Styles/Bootstrap/grid.less",
        "rockwww/Styles/Bootstrap/tables.less",
        "rockwww/Styles/Bootstrap/forms.less",
        "rockwww/Styles/Bootstrap/buttons.less",
        "rockwww/Styles/Bootstrap/component-animations.less",
        "rockwww/Styles/Bootstrap/dropdowns.less",
        "rockwww/Styles/Bootstrap/button-groups.less",
        "rockwww/Styles/Bootstrap/input-groups.less",
        "rockwww/Styles/Bootstrap/navs.less",
        "rockwww/Styles/Bootstrap/navbar.less",
        "rockwww/Styles/Bootstrap/breadcrumbs.less",
        "rockwww/Styles/Bootstrap/pagination.less",
        "rockwww/Styles/Bootstrap/pager.less",
        "rockwww/Styles/Bootstrap/labels.less",
        "rockwww/Styles/Bootstrap/badges.less",
        "rockwww/Styles/Bootstrap/jumbotron.less",
        "rockwww/Styles/Bootstrap/thumbnails.less",
        "rockwww/Styles/Bootstrap/alerts.less",
        "rockwww/Styles/Bootstrap/progress-bars.less",
        "rockwww/Styles/Bootstrap/media.less",
        "rockwww/Styles/Bootstrap/list-group.less",
        "rockwww/Styles/Bootstrap/panels.less",
        "rockwww/Styles/Bootstrap/responsive-embed.less",
        "rockwww/Styles/Bootstrap/wells.less",
        "rockwww/Styles/Bootstrap/close.less",
        "rockwww/Styles/Bootstrap/modals.less",
        "rockwww/Styles/Bootstrap/tooltip.less",
        "rockwww/Styles/Bootstrap/popovers.less",
        "rockwww/Styles/Bootstrap/carousel.less",
        "rockwww/Styles/Bootstrap/utilities.less",
        "rockwww/Styles/Bootstrap/responsive-utilities.less",
        "rockwww/Styles/Bootstrap/mixins/hide-text.less",
        "rockwww/Styles/Bootstrap/mixins/opacity.less",
        "rockwww/Styles/Bootstrap/mixins/image.less",
        "rockwww/Styles/Bootstrap/mixins/labels.less",
        "rockwww/Styles/Bootstrap/mixins/reset-filter.less",
        "rockwww/Styles/Bootstrap/mixins/resize.less",
        "rockwww/Styles/Bootstrap/mixins/responsive-visibility.less",
        "rockwww/Styles/Bootstrap/mixins/size.less",
        "rockwww/Styles/Bootstrap/mixins/tab-focus.less",
        "rockwww/Styles/Bootstrap/mixins/reset-text.less",
        "rockwww/Styles/Bootstrap/mixins/text-emphasis.less",
        "rockwww/Styles/Bootstrap/mixins/text-overflow.less",
        "rockwww/Styles/Bootstrap/mixins/vendor-prefixes.less",
        "rockwww/Styles/Bootstrap/mixins/alerts.less",
        "rockwww/Styles/Bootstrap/mixins/buttons.less",
        "rockwww/Styles/Bootstrap/mixins/panels.less",
        "rockwww/Styles/Bootstrap/mixins/pagination.less",
        "rockwww/Styles/Bootstrap/mixins/list-group.less",
        "rockwww/Styles/Bootstrap/mixins/nav-divider.less",
        "rockwww/Styles/Bootstrap/mixins/forms.less",
        "rockwww/Styles/Bootstrap/mixins/progress-bar.less",
        "rockwww/Styles/Bootstrap/mixins/table-row.less",
        "rockwww/Styles/Bootstrap/mixins/background-variant.less",
        "rockwww/Styles/Bootstrap/mixins/border-radius.less",
        "rockwww/Styles/Bootstrap/mixins/gradients.less",
        "rockwww/Styles/Bootstrap/mixins/clearfix.less",
        "rockwww/Styles/Bootstrap/mixins/center-block.less",
        "rockwww/Styles/Bootstrap/mixins/nav-vertical-align.less",
        "rockwww/Styles/Bootstrap/mixins/grid-framework.less",
        "rockwww/Styles/Bootstrap/mixins/grid.less"
      ]
    },
    {
      "path": "rockwww/Styles/Bootstrap/mixins.less",
      "imports": [
        "rockwww/Styles/Bootstrap/mixins/hide-text.less",
        "rockwww/Styles/Bootstrap/mixins/opacity.less",
        "rockwww/Styles/Bootstrap/mixins/image.less",
        "rockwww/Styles/Bootstrap/mixins/labels.less",
        "rockwww/Styles/Bootstrap/mixins/reset-filter.less",
        "rockwww/Styles/Bootstrap/mixins/resize.less",
        "rockwww/Styles/Bootstrap/mixins/responsive-visibility.less",
        "rockwww/Styles/Bootstrap/mixins/size.less",
        "rockwww/Styles/Bootstrap/mixins/tab-focus.less",
        "rockwww/Styles/Bootstrap/mixins/reset-text.less",
        "rockwww/Styles/Bootstrap/mixins/text-emphasis.less",
        "rockwww/Styles/Bootstrap/mixins/text-overflow.less",
        "rockwww/Styles/Bootstrap/mixins/vendor-prefixes.less",
        "rockwww/Styles/Bootstrap/mixins/alerts.less",
        "rockwww/Styles/Bootstrap/mixins/buttons.less",
        "rockwww/Styles/Bootstrap/mixins/panels.less",
        "rockwww/Styles/Bootstrap/mixins/pagination.less",
        "rockwww/Styles/Bootstrap/mixins/list-group.less",
        "rockwww/Styles/Bootstrap/mixins/nav-divider.less",
        "rockwww/Styles/Bootstrap/mixins/forms.less",
        "rockwww/Styles/Bootstrap/mixins/progress-bar.less",
        "rockwww/Styles/Bootstrap/mixins/table-row.less",
        "rockwww/Styles/Bootstrap/mixins/background-variant.less",
        "rockwww/Styles/Bootstrap/mixins/border-radius.less",
        "rockwww/Styles/Bootstrap/mixins/gradients.less",
        "rockwww/Styles/Bootstrap/mixins/clearfix.less",
        "rockwww/Styles/Bootstrap/mixins/center-block.less",
        "rockwww/Styles/Bootstrap/mixins/nav-vertical-align.less",
        "rockwww/Styles/Bootstrap/mixins/grid-framework.less",
        "rockwww/Styles/Bootstrap/mixins/grid.less"
      ]
    },
    {
      "path": "rockwww/Styles/Bootstrap/theme.less",
      "imports": [
        "rockwww/Styles/Bootstrap/variables.less",
        "rockwww/Styles/Bootstrap/mixins.less",
        "rockwww/Styles/Bootstrap/mixins/hide-text.less",
        "rockwww/Styles/Bootstrap/mixins/opacity.less",
        "rockwww/Styles/Bootstrap/mixins/image.less",
        "rockwww/Styles/Bootstrap/mixins/labels.less",
        "rockwww/Styles/Bootstrap/mixins/reset-filter.less",
        "rockwww/Styles/Bootstrap/mixins/resize.less",
        "rockwww/Styles/Bootstrap/mixins/responsive-visibility.less",
        "rockwww/Styles/Bootstrap/mixins/size.less",
        "rockwww/Styles/Bootstrap/mixins/tab-focus.less",
        "rockwww/Styles/Bootstrap/mixins/reset-text.less",
        "rockwww/Styles/Bootstrap/mixins/text-emphasis.less",
        "rockwww/Styles/Bootstrap/mixins/text-overflow.less",
        "rockwww/Styles/Bootstrap/mixins/vendor-prefixes.less",
        "rockwww/Styles/Bootstrap/mixins/alerts.less",
        "rockwww/Styles/Bootstrap/mixins/buttons.less",
        "rockwww/Styles/Bootstrap/mixins/panels.less",
        "rockwww/Styles/Bootstrap/mixins/pagination.less",
        "rockwww/Styles/Bootstrap/mixins/list-group.less",
        "rockwww/Styles/Bootstrap/mixins/nav-divider.less",
        "rockwww/Styles/Bootstrap/mixins/forms.less",
        "rockwww/Styles/Bootstrap/mixins/progress-bar.less",
        "rockwww/Styles/Bootstrap/mixins/table-row.less",
        "rockwww/Styles/Bootstrap/mixins/background-variant.less",
        "rockwww/Styles/Bootstrap/mixins/border-radius.less",
        "rockwww/Styles/Bootstrap/mixins/gradients.less",
        "rockwww/Styles/Bootstrap/mixins/clearfix.less",
        "rockwww/Styles/Bootstrap/mixins/center-block.less",
        "rockwww/Styles/Bootstrap/mixins/nav-vertical-align.less",
        "rockwww/Styles/Bootstrap/mixins/grid-framework.less",
        "rockwww/Styles/Bootstrap/mixins/grid.less"
      ]
    },
    {
      "path": "rockwww/Styles/FontAwesome/font-awesome.less",
      "imports": [
        "rockwww/Styles/FontAwesome/variables.less",
        "rockwww/Styles/FontAwesome/mixins.less",
        "rockwww/Styles/FontAwesome/path.less",
        "rockwww/Styles/FontAwesome/core.less",
        "rockwww/Styles/FontAwesome/larger.less",
        "rockwww/Styles/FontAwesome/fixed-width.less",
        "rockwww/Styles/FontAwesome/list.less",
        "rockwww/Styles/FontAwesome/bordered-pulled.less",
        "rockwww/Styles/FontAwesome/animated.less",
        "rockwww/Styles/FontAwesome/rotated-flipped.less",
        "rockwww/Styles/FontAwesome/stacked.less",
        "rockwww/Styles/FontAwesome/icons.less",
        "rockwww/Styles/FontAwesome/screen-reader.less"
      ]
    },
    {
      "path": "Font-Awesome/src/assets/less/site.less",
      "imports": [
        "Font-Awesome/src/assets/less/gandy-grid/mixins.less",
        "Font-Awesome/src/assets/less/gandy-grid/grid.less",
        "Font-Awesome/src/assets/less/site/bootstrap/variables.less",
        "Font-Awesome/src/assets/less/site/bootstrap/navbar.less",
        "Font-Awesome/src/assets/less/site/bootstrap/buttons.less",
        "Font-Awesome/src/assets/less/site/bootstrap/jumbotron.less",
        "Font-Awesome/src/assets/less/site/bootstrap/wells.less",
        "Font-Awesome/src/assets/less/site/bootstrap/labels.less",
        "Font-Awesome/src/assets/less/site/bootstrap/type.less",
        "Font-Awesome/src/assets/less/site/bootstrap/alerts.less",
        "Font-Awesome/src/assets/less/site/bootstrap/tooltip.less",
        "Font-Awesome/src/assets/less/site/bootstrap/panels.less",
        "Font-Awesome/src/assets/less/site/bootstrap/modals.less",
        "Font-Awesome/src/assets/less/site/layout.less",
        "Font-Awesome/src/assets/less/site/print.less",
        "Font-Awesome/src/assets/less/site/social-buttons.less",
        "Font-Awesome/src/assets/less/site/jumbotron-carousel.less",
        "Font-Awesome/src/assets/less/site/stripe-ad.less",
        "Font-Awesome/src/assets/less/site/search.less",
        "Font-Awesome/src/assets/less/site/fontawesome-icon-list.less",
        "Font-Awesome/src/assets/less/site/feature-list.less",
        "Font-Awesome/src/assets/less/site/example-rating.less",
        "Font-Awesome/src/assets/less/site/footer.less",
        "Font-Awesome/src/assets/less/site/lazy.less",
        "Font-Awesome/src/assets/less/site/textured-bg.less",
        "Font-Awesome/src/assets/less/site/banner-ad.less",
        "Font-Awesome/src/assets/less/site/carbon-ad.less",
        "Font-Awesome/src/assets/less/site/bsap-ad.less",
        "Font-Awesome/src/assets/less/site/sumome.less",
        "Font-Awesome/src/assets/less/site/algolia.less",
        "Font-Awesome/src/assets/less/site/fa5.less",
        "Font-Awesome/src/assets/less/site/newsletter.less",
        "Font-Awesome/src/assets/less/site/views.less",
        "Font-Awesome/src/assets/less/site/store.less",
        "Font-Awesome/src/assets/less/site/responsive/screen-lg.less",
        "Font-Awesome/src/assets/less/site/responsive/screen-md.less",
        "Font-Awesome/src/assets/less/site/responsive/screen-sm.less",
        "Font-Awesome/src/assets/less/site/responsive/screen-sm-up.less",
        "Font-Awesome/src/assets/less/site/responsive/screen-xs.less"
      ]
    },
    {
      "path": "Font-Awesome/src/3.2.1/assets/less/responsive.less",
      "imports": [
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/mixins.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/responsive-utilities.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/responsive-1200px-min.less",
        "Font-Awesome/src/3.2.1/assets/less/responsive-1200px-min.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/responsive-768px-979px.less",
        "Font-Awesome/src/3.2.1/assets/less/responsive-768px-979px.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/responsive-767px-max.less",
        "Font-Awesome/src/3.2.1/assets/less/responsive-767px-max.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/responsive-navbar.less",
        "Font-Awesome/src/3.2.1/assets/less/responsive-navbar.less"
      ]
    },
    {
      "path": "Font-Awesome/src/3.2.1/assets/less/site.less",
      "imports": [
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/bootstrap.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/responsive-utilities.less",
        "Font-Awesome/src/3.2.1/assets/less/sticky-footer.less",
        "Font-Awesome/src/3.2.1/assets/less/mixins.less",
        "Font-Awesome/src/3.2.1/assets/less/variables.less",
        "Font-Awesome/src/3.2.1/assets/less/lazy.less",
        "Font-Awesome/src/3.2.1/assets/less/responsive.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/mixins.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/reset.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/scaffolding.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/grid.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/layouts.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/type.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/code.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/forms.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/tables.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/sprites.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/dropdowns.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/wells.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/component-animations.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/close.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/buttons.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/button-groups.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/navs.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/navbar.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/breadcrumbs.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/pagination.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/pager.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/modals.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/tooltip.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/popovers.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/thumbnails.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/media.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/labels-badges.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/progress-bars.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/accordion.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/carousel.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/hero-unit.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/responsive-1200px-min.less",
        "Font-Awesome/src/3.2.1/assets/less/responsive-1200px-min.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/responsive-768px-979px.less",
        "Font-Awesome/src/3.2.1/assets/less/responsive-768px-979px.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/responsive-767px-max.less",
        "Font-Awesome/src/3.2.1/assets/less/responsive-767px-max.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/responsive-navbar.less",
        "Font-Awesome/src/3.2.1/assets/less/responsive-navbar.less"
      ]
    },
    {
      "path": "Font-Awesome/src/assets/font-awesome/less/font-awesome.less",
      "imports": [
        "Font-Awesome/src/assets/font-awesome/less/variables.less",
        "Font-Awesome/src/assets/font-awesome/less/mixins.less",
        "Font-Awesome/src/assets/font-awesome/less/path.less",
        "Font-Awesome/src/assets/font-awesome/less/core.less",
        "Font-Awesome/src/assets/font-awesome/less/larger.less",
        "Font-Awesome/src/assets/font-awesome/less/fixed-width.less",
        "Font-Awesome/src/assets/font-awesome/less/list.less",
        "Font-Awesome/src/assets/font-awesome/less/bordered-pulled.less",
        "Font-Awesome/src/assets/font-awesome/less/animated.less",
        "Font-Awesome/src/assets/font-awesome/less/rotated-flipped.less",
        "Font-Awesome/src/assets/font-awesome/less/stacked.less",
        "Font-Awesome/src/assets/font-awesome/less/icons.less",
        "Font-Awesome/src/assets/font-awesome/less/screen-reader.less"
      ]
    },
    {
      "path": "Font-Awesome/src/assets/font-awesome/scss/font-awesome.scss",
      "imports": [
        "Font-Awesome/src/assets/font-awesome/scss/_variables.scss",
        "Font-Awesome/src/assets/font-awesome/scss/_mixins.scss",
        "Font-Awesome/src/assets/font-awesome/scss/_path.scss",
        "Font-Awesome/src/assets/font-awesome/scss/_core.scss",
        "Font-Awesome/src/assets/font-awesome/scss/_larger.scss",
        "Font-Awesome/src/assets/font-awesome/scss/_fixed-width.scss",
        "Font-Awesome/src/assets/font-awesome/scss/_list.scss",
        "Font-Awesome/src/assets/font-awesome/scss/_bordered-pulled.scss",
        "Font-Awesome/src/assets/font-awesome/scss/_animated.scss",
        "Font-Awesome/src/assets/font-awesome/scss/_rotated-flipped.scss",
        "Font-Awesome/src/assets/font-awesome/scss/_stacked.scss",
        "Font-Awesome/src/assets/font-awesome/scss/_icons.scss",
        "Font-Awesome/src/assets/font-awesome/scss/_screen-reader.scss"
      ]
    },
    {
      "path": "Font-Awesome/src/assets/less/bootstrap-3.3.5/bootstrap.less",
      "imports": [
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/variables.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/normalize.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/print.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/glyphicons.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/scaffolding.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/type.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/code.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/grid.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/tables.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/forms.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/buttons.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/component-animations.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/dropdowns.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/button-groups.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/input-groups.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/navs.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/navbar.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/breadcrumbs.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/pagination.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/pager.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/labels.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/badges.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/jumbotron.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/thumbnails.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/alerts.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/progress-bars.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/media.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/list-group.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/panels.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/responsive-embed.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/wells.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/close.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/modals.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/tooltip.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/popovers.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/carousel.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/utilities.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/responsive-utilities.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/hide-text.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/opacity.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/image.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/labels.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/reset-filter.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/resize.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/responsive-visibility.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/size.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/tab-focus.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/reset-text.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/text-emphasis.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/text-overflow.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/vendor-prefixes.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/alerts.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/buttons.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/panels.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/pagination.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/list-group.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/nav-divider.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/forms.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/progress-bar.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/table-row.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/background-variant.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/border-radius.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/gradients.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/clearfix.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/center-block.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/nav-vertical-align.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/grid-framework.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/grid.less"
      ]
    },
    {
      "path": "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins.less",
      "imports": [
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/hide-text.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/opacity.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/image.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/labels.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/reset-filter.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/resize.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/responsive-visibility.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/size.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/tab-focus.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/reset-text.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/text-emphasis.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/text-overflow.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/vendor-prefixes.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/alerts.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/buttons.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/panels.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/pagination.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/list-group.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/nav-divider.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/forms.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/progress-bar.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/table-row.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/background-variant.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/border-radius.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/gradients.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/clearfix.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/center-block.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/nav-vertical-align.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/grid-framework.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/grid.less"
      ]
    },
    {
      "path": "Font-Awesome/src/assets/less/bootstrap-3.3.5/theme.less",
      "imports": [
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/variables.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/hide-text.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/opacity.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/image.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/labels.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/reset-filter.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/resize.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/responsive-visibility.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/size.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/tab-focus.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/reset-text.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/text-emphasis.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/text-overflow.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/vendor-prefixes.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/alerts.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/buttons.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/panels.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/pagination.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/list-group.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/nav-divider.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/forms.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/progress-bar.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/table-row.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/background-variant.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/border-radius.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/gradients.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/clearfix.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/center-block.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/nav-vertical-align.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/grid-framework.less",
        "Font-Awesome/src/assets/less/bootstrap-3.3.5/mixins/grid.less"
      ]
    },
    {
      "path": "Font-Awesome/src/3.2.1/assets/font-awesome/less/font-awesome.less",
      "imports": [
        "Font-Awesome/src/3.2.1/assets/font-awesome/less/variables.less",
        "Font-Awesome/src/3.2.1/assets/font-awesome/less/mixins.less",
        "Font-Awesome/src/3.2.1/assets/font-awesome/less/path.less",
        "Font-Awesome/src/3.2.1/assets/font-awesome/less/core.less",
        "Font-Awesome/src/3.2.1/assets/font-awesome/less/bootstrap.less",
        "Font-Awesome/src/3.2.1/assets/font-awesome/less/extras.less",
        "Font-Awesome/src/3.2.1/assets/font-awesome/less/icons.less"
      ]
    },
    {
      "path": "Font-Awesome/src/3.2.1/assets/font-awesome/scss/font-awesome.scss",
      "imports": [
        "Font-Awesome/src/3.2.1/assets/font-awesome/scss/_variables.scss",
        "Font-Awesome/src/3.2.1/assets/font-awesome/scss/_mixins.scss",
        "Font-Awesome/src/3.2.1/assets/font-awesome/scss/_path.scss",
        "Font-Awesome/src/3.2.1/assets/font-awesome/scss/_core.scss",
        "Font-Awesome/src/3.2.1/assets/font-awesome/scss/_bootstrap.scss",
        "Font-Awesome/src/3.2.1/assets/font-awesome/scss/_extras.scss",
        "Font-Awesome/src/3.2.1/assets/font-awesome/scss/_icons.scss"
      ]
    },
    {
      "path": "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/bootstrap.less",
      "imports": [
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/mixins.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/reset.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/scaffolding.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/grid.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/layouts.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/type.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/code.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/forms.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/tables.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/sprites.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/dropdowns.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/wells.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/component-animations.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/close.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/buttons.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/button-groups.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/navs.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/navbar.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/breadcrumbs.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/pagination.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/pager.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/modals.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/tooltip.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/popovers.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/thumbnails.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/media.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/labels-badges.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/progress-bars.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/accordion.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/carousel.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/hero-unit.less"
      ]
    },
    {
      "path": "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/responsive.less",
      "imports": [
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/mixins.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/responsive-utilities.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/responsive-1200px-min.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/responsive-768px-979px.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/responsive-767px-max.less",
        "Font-Awesome/src/3.2.1/assets/less/bootstrap-2.3.2/responsive-navbar.less"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": true,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}