

//h1{font-family: raleway; text-shadow: 1px 1px  2px RGBA(0, 0, 0, 0.3);}
//h2{font-family: raleway; text-shadow: 1px 1px  2px RGBA(0, 0, 0, 0.3);}
.ccv-red{color: RGBA(97, 38, 43, 1);}
.ccv-blue{color: RGBA(36, 43, 97, 1);}
.ccv-green{color: RGBA(42, 97, 37, 1);}

.mission{
	/*display:block;*/
 	font-family:'Merrieweather';
    .simpleshadow;
    font-weight: 900;
    font-style: italic;
 	font-size: x-large;
    text-align:center;

}

.minihr{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	width:400px;
 	margin-left:20px;
 	margin-top:15px;
 	margin-bottom:15px;
}

.s-o-f{
  display:block;
  margin:10px;
  font-weight: 200;
	font-style: normal;
  font-family:monospace;
  
}
.s-o-f a:link,
.s-o-f a:visited,
.s-o-f a:active{
  font-style:normal;
  color: #595959;
  
}
.s-o-f a:hover{
  font-weight:900;
  cursor:context-menu;
}
.s-o-f b{
  font-variant: small-caps;
 //font-weight:900;
  font-size:x-large;
 
}
section.s-o-f:before{
  display: inline-block;
  color: RGBA(25, 25, 26, 0.7);
  font-family: FontAwesome;
  font-style: normal;
  font-size: large;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f069";
  padding-right:2px
 
}



  
.SM-Links{
    display:block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
.SM-Links-group {
margin:auto;
max-width: fit-content;
    }
.SM-Links-item{
    display:inline;
    padding-left:0.25em;
    padding-right:0.25em;
    }
.minfoot{
   div .col-sm-4{
        padding-left: 5px;
        padding-right: 5px;
    }
   .list-group-item{
       padding: 5px;
   } 
}
